/* Resena.css */
.resena-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(244, 245, 247, 0.1);
}

.resena-container h2 {
  margin-top: 0;
  font-size: 36px;
  color: #0de0cf;
  text-align: center;
}

.resena-container .platillo-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  background-color: rgb(250, 247, 247);
  padding: 20px;
  border-radius: 8px;
}

.platillo-item {
  flex: 0 0 calc(33.33% - 20px);
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(93, 11, 245, 0.1);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
  width: 700px;
  height: 500px;
  background-color: #f5f4f4;
}

.platillo-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.platillo-item .precio {
  background-color: rgba(246, 248, 245, 0.8);
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.platillo-item:hover {
  transform: scale(1.05);
}

.cantidad-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.cantidad-title {
  font-weight: bold;
  margin-right: 10px;
}

.cantidad {
  font-size: 18px;
  margin: 0 10px;
  width: 30px;
  text-align: center;
}

.cantidad-container button {
  background-color: #fffbfb;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.cantidad-container button:hover {
  background-color: #fffcfc;
}

/* Media Query para hacer el componente responsive */
@media (max-width: 768px) {
  .resena-container {
    padding: 20px;
  }

  .resena-container .platillo-wrapper {
    flex-direction: column;
  }

  .platillo-item {
    flex: 0 0 100%;
    width: 100%;
  }
}


