/* Estilos generales para el Navbar */
.navbar {
  background-color: #f7f6f6;
  color: rgb(24, 24, 24);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo {
  font-size: 2rem; /* Aumenta el tamaño de la fuente a 2 rem */
  margin: 0;
  font-family: Arial, sans-serif;
  color: red; /* Cambia el color de la letra a rojo */
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-right: 15px;
}

.navbar-links li a {
  color: rgb(20, 20, 20);
  text-decoration: none;
  padding: 8px 12px;
}

/* Estilos para pantallas más pequeñas (responsive) */
@media screen and (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: center;
  }

  .navbar-logo {
    margin-bottom: 10px;
  }

  .navbar-links {
    flex-direction: column;
  }

  .navbar-links li {
    margin: 5px 0;
  }
}

.icon {
  margin-right: 5px; /* Ajusta el espaciado entre el ícono y el texto */
  /* Otros estilos para el ícono si lo deseas */
}
